@import url('./font.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* header */


header{
    width: 100%;
    font-family: "Space Grotesk";
    display: flex;
}

.header_top{
    width: 100%;
    padding: 50px 176.33px 141.44px 176px;
    display: flex;
    align-items: center;
    gap: 117px;
    position: relative;
}

.logo{
    display: flex;
    cursor: pointer;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

#nav{
    width: 100%;
}

#nav ul{
    display: flex;
    justify-content: space-between;
}

#nav ul li a{
    color: #000;
    text-align: center;
    font-size: 17.822px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.387px;
}

.circle{
    position: absolute;
    right: 0;
    top: 0;
}


/* footer */

footer{
    width: 100%;
    background-color: #000053;
}

.footerTop{
    width: 100%;
    padding: 48px 0px 48px 153px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);;
}
    
.footerText{
    max-width: 328px;
    color: #FFF;
    font-size: 15.059px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.816px;
    letter-spacing: -0.161px;
    font-family: "San Francisco";
}