
main{
    font-family: "San Francisco";
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-style: normal;
}
 /* box1  share */
.box1{
    width: 100%;
    height: 100%;
    padding: 0px 50.33px 209px 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.box1_text{
    font-size: 74px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0em;
    color: #313131;
    max-width: 623px;
    margin-bottom: 53px;
    margin-top: 150px;
}

.box1_description{
    color: #000;
    font-size: 21.403px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.104px;
    max-width: 595px;
    letter-spacing: 0.12px;
}

.afterOrange{
    z-index: 99;
    position: relative;
}


.afterOrange::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
    height: 30px;
    background-color: #FF8100;
    z-index: -1;
}


.box1_right {
    position: relative;
    animation: myAnimation 2s infinite;
  }
  
  @keyframes myAnimation {
    0% {
      top: 0;
    }
    50% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }

.man-bg{
    top: 13%;
    width: 100%;
    height: 454.243px;
    position: absolute;
    background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, rgba(255, 129, 0, 0.45) 0%, rgba(255, 129, 0, 0.00) 100%);
    filter: blur(163.8383331298828px);
}




/* arrow share */

.arrow_body{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.normal_body{
    margin-top: 115px;
    width: 100%;
    display: flex;
    gap: 75px;
    position: relative;
}

.pad_one{
    padding: 0px 141px 0px 188px;
}


.pad_three{
    padding: 0px 64px 0px 188px;
}

.pad_five{
    padding: 0px 141px 0px 50px;
}

.normal_img_body{
    width: 438px;
    height: 438px;
    border-radius: 20px;
}

.normald_img_body {
    width: 40.7%;
    min-height: 484px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shared_box{
    margin-bottom: 270px;
}

.normal_head_name{
    color: #313131;
    font-size: 58.046px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.227px;
    margin-bottom: 44px;
}

.normal_description{
    color: #000;
    font-size: 21.403px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.104px;
    letter-spacing: 0.12px;
    max-width: 595px;
    margin-bottom: 65px;
}

.more_detailed_button{
    padding: 8px 17.75px 7.75px 18px;
    border-radius: 21.993px;
    background: #FF8100;
    border: 0px;
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.more_detailed_text{
    color: #FFF;
    font-size: 15.957px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.935px;
    letter-spacing: 0.09px;
}


.straight{
    position: absolute;
    left: 0;
    top: 26%;
    z-index: -1;
}

.straight3{
    position: absolute;
    left: 0;
    z-index: -1;
    top: 70%;
}

.straight5{
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0%;
}

.no_margin{
    margin-top: 0px !important;
}





/* events body share */

.diffrent_body{
    width: 100%;
    display: flex;
    gap: 86px;
    position: relative;
}

.pad_two{
    padding: 0px 180px 0px 141px;
}

.pad_four{
    padding: 0px 180px 0px 141px;
}

.diffrent_left_body{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.diffrent_img_body{
    width: 438px;
    height: 438px;
    border-radius: 20px;
    background: #D9D9D9;
}

.diffrent_head_name{
    color: #313131;
    text-align: right;
    font-size: 58.046px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.227px;
    margin-bottom: 16px;
}

.diffrent_description{
    color: #000;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.112px;
    margin-bottom: 38px;
    max-width: 595px;
}

.straight2{
    right: 0;
    position: absolute;
    z-index: -1;
    top: 32%;
}

.straight4{
    position: absolute;
    right: 0;
    z-index: -1;
    top: 36%;
}




/* Mentors Body Share  */

.mentors_body{
    width: 100%;
    padding: 0px 66px 270px 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.mentors_head_text{
    color: #313131;
    text-align: center;
    font-size: 58.046px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.227px;
    margin-bottom: 77px;
}

.mentors_main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.mentors_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mentors_card_name{
    color: #313131;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.406px;
    margin-top: 16px;
}

.straight6{
    position: absolute;
    right: 0;
    top: -34%;
}



/* Gallery Body Share */


.gallery_body{
    width: 100%;
    padding: 0px 68px 270px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery_body_text{
    color: #313131;
    text-align: center;
    font-size: 58.046px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.227px;
}

.gallery_body_title{
    color: #5196FF;
    text-align: center;
    font-size: 25.532px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.941px;
    margin-bottom: 49px;
}


/* Owl Carousel */


.organizers_body{
    width: 100%;
    padding: 0px 176px 236.56px 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizers_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 54.87px;
}

.organizers_body_text{
    color: #313131;
    font-size: 58.046px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.227px;
}



/* Background Image */

.bg1{
    background-image: url('../images/image/inno-img.svg');
}

.bg2{
    background-image: url('../images/image/tedbirler-img.svg');
}

.bg3{
    background-image: url('../images/image/inkubasiya.svg');
}

.bg4{
    background-image: url('../images/image/startuplar.svg');
}

.bg5{
    background-image: url('../images/image/map.svg');
}




/* Slider */

    .owl-carousel .slide img {
    width: 100%;
  }
  
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .owl-carousel .owl-nav button.owl-prev {
    left: 10px;
  }
  
  .owl-carousel .owl-nav button.owl-next {
    right: 10px;
  }

  .arrow-left{
    color: #fff;
    width: 57px;
    font-size: 57px;
  }

  .arrow-right{
    color: #fff;
    font-size: 57px;
  }

  .owl-stage-outer{
    position: relative;
  }

  .owl-carousel .owl-loaded .owl-drag {
    position: relative;
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    width: 336px;
    height: 416px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    width: 100%;
  }

  .center2{
    display: flex;
    gap: 86px;
    width: 100%;
  }
  .mentors_card_image{
        border-radius: 6.63px;
  }


